<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>
<h1>Create Task</h1>
<form id="createTaskForm">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br><br>

    <label for="workStatus">Work Status:</label>
    <select id="workStatus" name="workStatus" required>
        <option value="OPEN">Pending</option>
        <option value="IN_WORK">In Progress</option>
        <option value="COMPLETED">Completed</option>
    </select><br><br>

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" required><br><br>

    <label for="contactId">Contact ID:</label>
    <input type="number" id="contactId" name="contactId" required><br><br>

    <button type="submit">Create</button>
</form>
<button onclick="window.location.href='/tasks'">Back to Tasks</button>
<button onclick="window.location.href='/'">Back to Home</button>

<script>
    document.getElementById('createTaskForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/api/task/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                description: formData.get('description'),
                workStatus: formData.get('workStatus'),
                endDate: formData.get('endDate'),
                contactId: parseInt(formData.get('contactId'))
            })
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(`HTTP error! Status: ${response.status}. Message: ${text}`);
                    });
                }
                return response.json();
            })
            .then(data => {
                alert('Task created successfully');
                window.location.href = '/tasks'; // Перенаправление на страницу задач
            })
            .catch(error => {
                console.error('Error creating task:', error);
                alert('Failed to create task: ' + error.message);
            });
    });
</script>
</body>
</html>
