<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>
<button onclick="window.location.href='/'">Back to Home</button>
<button onclick="window.location.href='/task/create'">Add Task</button>
<div id="tasksList">
    <h2>Task List</h2>
    <ul>
        <li th:each="task : ${tasks}">
            <a th:href="@{/task/update/{id}(id=${task.id})}" th:text="${task.description}"></a>
        </li>
    </ul>
</div>
</body>
</html>
